/* home */
@use '../abstracts/variables' as var;
@use '../base/typography' as type;

:root {
  --gap: 1rem;
}
body {
  font-family: 'Lora', serif;
  color: #333;
}
body,
header,
main,
footer {
  display: grid;
  gap: var(--gap, 1rem);
  margin-left: auto;
  margin-right: auto;
}

h1,
h2 {
  text-align: center;
}
p {
  max-width: 60ch;
}
body {
  padding: var(--gap, 1rem);
}
